@model PizzaShop.ViewModel.ChangePasswordViewModel;
@{
    ViewData["Title"] = "My Profile";
    Layout = "_SidebarLayout";
}

<div class="users mb-3">                       
    <h1 class="blue-text">Change Password</h1> 
</div>

<!-- All form content: Note and form -->
<div class="change-content">
    <div class="text-grey mb-2">
        <div class="fs-6">Enter a new password to update your account credentials.</div>
    </div>

    <!-- Form starts here-->
    <form asp-action="ChangePassword" asp-controller="Dashboard" id="ChangePasswordForm" class="ChangePassword-form" method="post">

         <!-- Email -->
        <input asp-for="@Model.Email" value="@ViewBag.email" hidden>

        @* <!-- Current Password -->                       
        <div class="form-floating mb-3">
            <input asp-for="@Model.OldPassword" type="password" class="form-control" id="CurrentPassword" placeholder="">
            <label for="firstName">Current Password*</label>
        </div>

        <!-- New Password -->      
        <div class=" form-floating mb-3">
            <input asp-for="@Model.NewPassword" type="password" class="form-control" id="NewPassword" placeholder="">
            <label for="NewPassword">New Password*</label>
        </div>

        <!-- Confirm New Password -->      
        <div class=" form-floating mb-3">
            <input asp-for="@Model.ConfirmPassword" type="password" class="form-control" id="ConfirmNewPassword" placeholder="">
            <label for="ConfirmNewPassword">Confirm New Password*</label>
        </div> *@

        <!-- Current Password -->                        
        <div class="form-floating mb-3 position-relative">
            <input asp-for="@Model.OldPassword" type="password" class="form-control" id="CurrentPassword" placeholder="">
            <label for="CurrentPassword">Current Password*</label>
            <i class="eye-icon fa fa-eye-slash position-absolute top-50 end-0 translate-middle-y me-3 cursor-pointer" onclick="togglePassword('CurrentPassword', this)"></i>
        </div>

        <!-- New Password -->      
        <div class="form-floating mb-3 position-relative">
            <input asp-for="@Model.NewPassword" type="password" class="form-control" id="NewPassword" placeholder="">
            <label for="NewPassword">New Password*</label>
            <i class="eye-icon fa fa-eye-slash position-absolute top-50 end-0 translate-middle-y me-3 cursor-pointer" onclick="togglePassword('NewPassword', this)"></i>
        </div>

        <!-- Confirm New Password -->      
        <div class="form-floating mb-3 position-relative">
            <input asp-for="@Model.ConfirmPassword" type="password" class="form-control" id="ConfirmNewPassword" placeholder="">
            <label for="ConfirmNewPassword">Confirm New Password*</label>
            <i class="eye-icon fa fa-eye-slash position-absolute top-50 end-0 translate-middle-y me-3 cursor-pointer" onclick="togglePassword('ConfirmNewPassword', this)"></i>
        </div>    

        <div class="d-flex gap-3">
            <button class="btn btn-blue" type="submit">
                Submit
            </button>
            <button class="btn btn-white">
                Cancel
            </button>
        </div>
    </form>
    <!-- Form ends here-->
</div>

<script>
    function togglePassword(inputId, icon) {
        var inputField = document.getElementById(inputId);
        if (inputField.type === "password") {
            inputField.type = "text";
            icon.classList.remove("fa-eye-slash");
            icon.classList.add("fa-eye");
        } else {
            inputField.type = "password";
            icon.classList.remove("fa-eye");
            icon.classList.add("fa-eye-slash");
        }
    }
</script>
