@model PizzaShop.ViewModel.ChangePasswordViewModel;
@{
    ViewData["Title"] = "My Profile";
    Layout = "_SidebarLayout";
}

<div class="users mb-3">                       
    <h1 class="blue-text">Change Password</h1> 
</div>

<!-- All form content: Note and form -->
<div class="change-content">
    <div class="text-grey mb-2">
        <div class="fs-6">Enter a new password to update your account credentials.</div>
    </div>

    <!-- Form starts here-->
    <form asp-action="ChangePassword" asp-controller="Dashboard" id="ChangePasswordForm" class="ChangePassword-form" method="post">

         <!-- Email -->
        <input asp-for="@Model.Email" value="@ViewBag.email" hidden>

        <!-- Current Password --> 
        <div class="mb-3">
            <div class="form-floating input-group">
                <input asp-for="@Model.OldPassword" type="password" class="form-control" id="CurrentPassword" placeholder="">
                <label for="CurrentPassword">Current Password*</label>
                <span class="input-group-text">
                    <i class="eye-icon fa fa-eye-slash cursor-pointer" onclick="togglePassword('CurrentPassword', this)"></i>
                </span>
            </div>
            <span  class="text-danger"></span>
        </div>     

         <!-- New Password --> 
        <div class="mb-3">
            <div class="form-floating input-group">
                <input asp-for="@Model.NewPassword" type="password" class="form-control" id="NewPassword" placeholder="">
                <label for="NewPassword">New Password*</label>
                <span class="input-group-text">
                    <i class="eye-icon fa fa-eye-slash cursor-pointer" onclick="togglePassword('NewPassword', this)"></i>
                </span>
            </div>
            <span  class="text-danger"></span>
        </div> 

        <!-- Confirm Password --> 
        <div class="mb-3">
            <div class="form-floating input-group">
                <input asp-for="@Model.ConfirmPassword" type="password" class="form-control" id="ConfirmPassword" placeholder="">
                <label for="ConfirmPassword">Confirm New Password*</label>
                <span class="input-group-text">
                    <i class="eye-icon fa fa-eye-slash cursor-pointer" onclick="togglePassword('ConfirmPassword', this)"></i>
                </span>
            </div>
            <span  class="text-danger"></span>
        </div>    

        <div class="d-flex gap-3">
            <button class="btn btn-blue" type="submit">
                Submit
            </button>
            <button class="btn btn-white">
                Cancel
            </button>
        </div>
    </form>
    <!-- Form ends here-->
</div>

<script>
    function togglePassword(inputId, icon) {
        var inputField = document.getElementById(inputId);
        if (inputField.type === "password") {
            inputField.type = "text";
            icon.classList.remove("fa-eye-slash");
            icon.classList.add("fa-eye");
        } else {
            inputField.type = "password";
            icon.classList.remove("fa-eye");
            icon.classList.add("fa-eye-slash");
        }
    }
</script>