@model PizzaShop.ViewModel.MyProfileViewModel;
@{
    ViewData["Title"] = "My Profile";
    Layout = "_SidebarLayout";
}

<!-- User heading, search and add button -->
<div class="d-flex justify-content-between users mb-3">
    <div>
        <h1 class="blue-text">My Profile</h1>
    </div>
    <div>
        <a href="users.html" class="btn btn-white">
            <img src="~/images/icons/chevron-left-blue.svg" alt="">
            <span>Back</span>
        </a>  
    </div>
</div>

<!-- For dark blue profile image -->
<div>
    <img src="~/images/profile_div_bg.jpg" alt="background-img" class="object-fit-cover w-100" height="60px">
</div>

<!-- Form -->
<div class="row bg-white px-3 pb-4 mx-0">

        <!-- Admin heading and image -->
        <div class="d-flex">
            <img class="profile-img" src="~/images/Default_pfp.svg.png">
            <div class="camera-div bg-white">
                <label for="profileImage">
                    <img class="camera-img" src="~/images/icons/camera.svg" alt="Upload Profile Image">
                </label>
                <input type="file" id="profileImage" name="ProfileImage" class="d-none">
            </div>
            <div class="w-100">
                <div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center">
                    <span class=" fs-3 fw-bold">@Model.FirstName @Model.LastName</span>
                    <span class="">@Model.Email</span>
                </div>
                <div class="fs-5">@Model.UserName</div>
            </div>
        </div>
            
        <form asp-action="MyProfile" asp-controller="Dashboard" class="row" method="post">
            
            @Html.AntiForgeryToken()

            <!-- First row -->                       
            <div class="col-12 col-sm-6 form-floating mb-3">
                <input asp-for="@Model.FirstName" type="text" class="form-control" id="firstName" value="@Model.FirstName" placeholder="">
                <label for="firstName">First Name</label>
            </div>
            <div class="col-12 col-sm-6 form-floating mb-3">
                <input asp-for="@Model.LastName" type="text" class="form-control" id="lastName" value="@Model.LastName" placeholder="">
                <label for="lastName">Last Name</label>
            </div>
            <div class="col-12 col-sm-6 form-floating mb-3">
                <input asp-for="@Model.UserName" type="text" class="form-control" id="userName" value="@Model.UserName" placeholder="">
                <label for="firstName">User Name</label>
            </div>

            <div class="col-12 col-sm-6 form-floating mb-3">
                <input asp-for="@Model.Phone" type="text" class="form-control" id="phone" value="@Model.Phone" placeholder="">
                <label for="phone">Phone</label>
            </div>

            <!-- Address blocks-->
            <div class="col-12 col-sm-4 form-floating mb-3">
                <select class="form-select" aria-label="" id="country">
                    <option selected>India</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <label for="country">Country</label>
            </div>
            <div class="col-12 col-sm-4 form-floating mb-3">
                <select class="form-select" aria-label="" id="state">
                    <option selected>Select State</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <label for="country">Country</label>
            </div>
            <div class="col-12 col-sm-4 form-floating mb-3">
                <select class="form-select" aria-label="" id="city">
                    <option selected>Select City</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <label for="country">Country</label>
            </div>

            <div class="col-12 col-sm-8 form-floating mb-3">
                <input asp-for="@Model.Address" type="text" class="form-control" id="address" value="@Model.Address" placeholder="">
                <label for="floatingPassword">Address</label>
            </div>
            <div class="col-12 col-sm-4 form-floating mb-3">
                <input asp-for="@Model.ZipCode" type="text" class="form-control" id="zipCode" value="@Model.ZipCode" placeholder="">
                <label for="floatingPassword">Zip Code</label>
            </div>

            <div class="d-flex justify-content-end gap-3">
                <button class="btn btn-blue" type="submit">
                    Update
                </button>
                <button class="btn btn-white">
                    Cancel
                </button>
            </div>
        </form>

</div>