@using PizzaShop.Entity.ViewModels;
@model ItemModifierViewModel

<div class="px-4 modifierGroupDetail" data-id="@Model.ModifierGroupId">
    <div class="d-flex justify-content-between align-items-center mb-1">
        <span class="fs-5 fw-bold light-grey-text">@Model.ModifierGroupName</span>
        <a class="btn deselectModifierGroup" data-id="@Model.ModifierGroupId">
            <img src="~/images/icons/deleteFill.svg" alt="delete" height="20px">
        </a>
    </div>
    <div class="row modifier-option">
        <div class="col-6">
            <select asp-for="@Model.MinAllowed" class="form-select minAllowed" aria-label="" data-id="@Model.ModifierGroupId">
                <option selected value="">0</option>
                @for (int num = 1; num <= Model.ModifierList.Count(); num++)
                {
                    <option value="@num">@num</option>
                }
            </select>
        </div>
        <div class="col-6">
            <select asp-for="@Model.MaxAllowed" class="form-select maxAllowed" aria-label="" data-id="@Model.ModifierGroupId">
                <option selected value="">0</option>
                @for (int num = 1; num <= Model.ModifierList.Count(); num++)
                {
                    <option value="@num">@num</option>
                }
            </select>
        </div> 
        <div class="col-12">
            <ul>
                @foreach(var modifier in Model.ModifierList)
                {
                    <li>
                        <div class="d-flex justify-content-between align-items-center">
                            <span>@modifier.ModifierName</span>
                            <span>@modifier.Rate</span>
                        </div>
                    </li>
                }
            </ul>
        </div>     
    </div>
</div>