@model PizzaShop.Entity.ViewModels.ItemsPaginationViewModel;

<div class="fs-5 fw-bold blue-text">
    Items
</div>

<div class="d-flex justify-content-end">
    <div class="input-group w-25 me-2">
        <input type="search" class="form-control" placeholder="Search" name="search">
        <button type="submit" class="input-group-text"> <img src="~/images/icons/search.svg" alt=""> </button>
    </div>
    <button class="btn border me-2">
        <img src="~/images/icons/delete.svg" alt="">
    </button>
    <button class="btn btn-blue me-2">
        + New Item
    </button>
</div>

<!-- Table -->
<div class="table-responsive bg-white menu-table">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">
                <input class="form-check-input me-2 " type="checkbox" value="" id="flexCheckIndeterminate"> Name
            </th>
            <th scope="col">Item Type</th>
            <th scope="col">Rate</th>
            <th scope="col">Quality</th>
            <th scope="col">Available</th>
            <th scope="col" style="width: 100px;">Action</th>
        </tr>
        </thead>
        <tbody class="">

            @foreach(var item in Model.Items)
            {
                <tr>
                    <td>
                        <input type="checkbox" value="" id="" class="me-2">
                        <img src="~/images/dining-menu.png" alt="" class="me-2" width="30px">
                        @item.ItemName
                    </td>
                    <td>
                        <img src="~/images/icons/non-veg-icon.svg" alt="" width="23px">
                    </td>
                    <td>@item.Rate</td>
                    <td>@item.Quantity</td>
                    <td>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex flex-row">
                            <button href="edit-user.html" class="btn ps-0 me-2" data-bs-toggle="modal" data-bs-target="#editItem">
                                <img src="~/images/icons/edit.svg" alt=""/>
                            </button>
                            
                            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#deleteItem">
                                <img src="~/images/icons/delete.svg" alt="">
                            </button>
                        </div>
                    </td>
                </tr>
            }



            <!-- First row -->
            <tr>
                <td>
                    <input type="checkbox" value="" id="" class="me-2">
                    <img src="~/images/dining-menu.png" alt="" class="me-2" width="30px">
                    Punjabi Tadka Sandwich
                </td>
                <td>
                    <img src="~/images/icons/non-veg-icon.svg" alt="" width="23px">
                </td>
                <td>200</td>
                <td>1</td>
                <td>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                        </div>
                </td>
                <td>
                    <div class="d-flex flex-row">
                        <button href="edit-user.html" class="btn ps-0 me-2" data-bs-toggle="modal" data-bs-target="#editItem">
                            <img src="~/images/icons/edit.svg" alt=""/>
                        </button>
                        
                        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#deleteItem">
                            <img src="~/images/icons/delete.svg" alt="">
                        </button>
                    </div>
                    
                </td>
            </tr>


        </tbody>
    </table>
</div>
<!-- Table ends -->

<!-- Pagination Starts -->
<div class="d-flex justify-content-end gap-1 flex-column flex-md-row pb-2">
    <div class="d-flex flex-row justify-content-end align-items-center mb-1 me-1 gap-1">
        <span>Items per page:</span>
        <select class="form-select w-auto" id="itemsPerPage" aria-label="Select items per page">
            <option value="5" selected>5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
        </select>
    </div>

    <div class="d-flex flex-row justify-content-end align-items-center mb-1 gap-1">
        <span>Showing @Model.Page.FromRec - @Model.Page.ToRec of @Model.Page.TotalRecord</span>

        <!-- Previous Page Button -->
        <button class="btn border btn-prev @(Model.Page.CurrentPage > 1 ? "" : "disabled")"
            onclick="PaginationAjax(@Model.Page.CurrentPage - 1)">
            <img src="~/images/icons/chevron-left.svg" alt="">
        </button>

        <!-- Next Page Button -->
        <button class="btn border btn-next @(Model.Page.CurrentPage < Model.Page.TotalPages ? "" : "disabled")"
            onclick="PaginationAjax(@Model.Page.CurrentPage + 1)">
            <img src="~/images/icons/chevron-right.svg" alt="">
        </button>
    </div>
</div>
<!-- Pagination Ends -->