@using PizzaShop.Entity.Models
@using PizzaShop.Entity.ViewModels
@model ModifierViewModel

<div class="modal-header">
    <h1 class="modal-title fs-5" id="mModalToggleLabel">@(Model.ModifierId == 0 ? "Add New " : "Update") Modifier</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<form asp-action="SaveModifier" asp-controller="Menu" id="SaveModifierForm" method="Post">
    <div class="modal-body">
        <div class="form addM-form row">

            <input asp-for="ModifierId" type="text" class="form-control" id="mId" hidden>
            <input name="selectedMG" type="text" class="form-control" id="selectedMgList" hidden>

            <div class="col-12 col-sm-6 form-floating mb-3">
                <div class="dropdown h-100">
                    <a class="btn dropdown-toggle border d-flex align-items-center h-100 w-100" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Select Modifier Groups(s)
                    </a>
                    <ul class="dropdown-menu w-100">
                        @foreach (ModifierGroup modifierGroup in Model.ModifierGroups)
                        {
                            <li class="d-flex px-2 pb-1">
                                <input type="checkbox" value="" class="me-2 mgCheckbox" data-id="@modifierGroup.Id" @(Model.SelectedMgList.Contains(modifierGroup.Id)? "checked" : "")>
                                <span class="">@modifierGroup.Name</span>
                            </li>
                        }
                    </ul>
                </div>
            </div>

            <div class="col-12 col-sm-6 form-floating mb-3">
                <input asp-for="ModifierName" type="text" class="form-control" placeholder="" id="mName">
                <label for="mName">Name*</label>
                <span asp-validation-for="ModifierName" class="text-danger"></span>
            </div>


            <div class="col-12 col-sm-6 col-md-4 form-floating mb-3">
                <input asp-for="Rate" class="form-control" placeholder="" id="mRate">
                <label for="mRate">Rate*</label>
                <span asp-validation-for="Rate" class="text-danger"></span>
            </div>

            <div class="col-12 col-sm-6 col-md-4 form-floating mb-3">
                <input asp-for="Quantity" class="form-control" placeholder="" id="mQuantity">
                <label for="mQuantity">Quantity*</label>
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>

            <div class="col-12 col-sm-6 col-md-4 form-floating mb-3">
                <select asp-for="@Model.UnitId" class="form-select" aria-label="" id="mUnit">
                    <option selected value="-1">Select a type</option>
                    @foreach (var unit in Model.Units)
                    {
                        <option value="@unit.Id"> @unit.Name</option>
                    }
                </select>
                <label for="mUnit">Unit*</label>
                <span asp-validation-for="@Model.UnitId" class="text-danger"></span>
            </div>

            <div class="col-12 form-floating mb-3">
                <textarea asp-for="Description" class="form-control" rows="1" placeholder="" id="mDesc"></textarea>
                <label for="mDesc">Description*</label>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-blue btn-modal" id="saveModifier">Save</button>
        <button type="button" class="btn btn-white btn-modal" data-bs-dismiss="modal">Cancel</button>
    </div>
</form>
